<a href="https://colab.research.google.com/github/TusharBisht224/Python-experiments/blob/main/exp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
book_loc = 'almirah'
loc = ['chair', 'table', 'sofa', 'bed', 'desk', 'almirah', 'bag']
for i in loc:
 if i == book_loc:
  print("Book is found in", i)
  break
else:
  print("Book is not found in", i)

Book is found in almirah

In [2]:
for i in range(1, 11):
  if i % 2 != 0:
    continue
  print(i*i)

4
16
36
64
100

In [3]:
i =1
while i<=10:
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9
10

In [4]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7)
print(tup1[0])
print(tup2[1:5])

physics
(2, 3, 4, 5)

In [5]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7)
print(tup1[0])
print(tup2[0:7:2])

physics
(1, 3, 5, 7)

In [6]:
tup1 = (12, 34, 55, 64, 78)
print(min(tup1))
print (max(tup1))

12
78

In [7]:
item_list =[123, 'xyz', 'zara', 'abc']
Tuple_item = tuple(item_list)
print("Tuple elements :", Tuple_item)

Tuple elements : (123, 'xyz', 'zara', 'abc')

In [8]:
# empty dictinory
my_dict ={}

# dictinory with intger keys
my_dict1 = {1: 'apple', 2: 'ball'}

# dictinory with intger keys
my_dict2 = {'name': 'John', 1: [2,4,3]}

print(my_dict1)
print(my_dict2)

{1: 'apple', 2: 'ball'}
{'name': 'John', 1: [2, 4, 3]}

In [9]:
# changing my adding dictinory elements
my_dict = {'name': 'jack', 'age':26}

# update value
my_dict['age'] = 27

#output: {'age}: 27, 'name' : 'jack'}
print(my_dict)

# add item
my_dict['address']= 'Downtown'

#output: ('address': 'Downtown', 'age': 27, 'name': 'jack'
print(my_dict)

{'name': 'jack', 'age': 27}
{'name': 'jack', 'age': 27, 'address': 'Downtown'}

In [10]:
# WAP to find the total of eacj of the lists
john_marks = [98, 80,70,63,55]
david_marks = [ 89,98,56,78,57]

sum = 0
for i in john_marks:
  sum = sum + i
print("john:", sum)

john: 366

In [11]:
def marks (student):
  sum1 = 0
  for i in student :
    sum1 = sum1 + i
  return sum1

In [12]:
num = int(input("enter a number"))
max = int(input("enter a max number till which table is to be found "))

enter a number45
enter a max number till which table is to be found 34

In [13]:
import math
a= 3
b = 4
c = math.sqrt(a**2 + b**2)
print ("hypotenuse:", c)

hypotenuse: 5.0