<a href="https://colab.research.google.com/github/TusharBisht224/Python-experiments/blob/main/Exp_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Create a variable to store age
age = 20

# Print the type of the variable
print(type(age))

<class 'int'>

In [2]:
# Declare a string variable called x
x = "Hello"

# Print the variable
print(x)

Hello

In [6]:
# Integer
a = 10
print("Integer value:", a)

# Float
b = 10.5
print("Float value:", b)

# String
c = "Python"
print("String value:", c)

# Boolean
d = True
print("Boolean value:", d)

# List
e = [1, 2, 3]
print("List value:", e)

# Tuple
f = (4, 5, 6)
print("Tuple value:", f)

# Dictionary
g = {"name": "Tushar", "age": 20}
print("Dictionary value:", g)

Integer value: 10
Float value: 10.5
String value: Python
Boolean value: True
List value: [1, 2, 3]
Tuple value: (4, 5, 6)
Dictionary value: {'name': 'Tushar', 'age': 20}

In [7]:
# Declare variables as integers
x = 9
y = 7

# Perform operations
addition = x + y
multiplication = x * y
division = x / y
subtraction = x - y

# Print the results
print("Addition:", addition)
print("Multiplication:", multiplication)
print("Division:", division)
print("Subtraction:", subtraction)

Addition: 16
Multiplication: 63
Division: 1.2857142857142858
Subtraction: 2

In [8]:
# Import math module
import math

# Take input from user
a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))

# Calculate hypotenuse
c = math.sqrt(a**2 + b**2)

# Print result
print("Length of hypotenuse:", c)

Enter the length of side a: 30
Enter the length of side b: 45
Length of hypotenuse: 54.08326913195984

In [9]:
# Import math module
import math

# Input sides of the triangle
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

# Calculate semi-perimeter
s = (a + b + c) / 2

# Calculate area using Heron's formula
area = math.sqrt(s * (s - a) * (s - b) * (s - c))

# Print the result
print("Area of the triangle is:", area)

Enter side a: 3
Enter side b: 5
Enter side c: 6
Area of the triangle is: 7.483314773547883

In [10]:
# Input two numbers
x = int(input("Enter first number (x): "))
y = int(input("Enter second number (y): "))

# Swapping without a temporary variable
x = x + y
y = x - y
x = x - y

# Print the swapped values
print("After swapping:")
print("x =", x)
print("y =", y)

Enter first number (x): 3
Enter second number (y): 4
After swapping:
x = 4
y = 3

In [11]:
# Input the value of n
n = int(input("Enter a positive integer n: "))

# Calculate sum using formula: sum = n*(n+1)/2
sum_natural = n * (n + 1) // 2

# Print the result
print("Sum of first", n, "natural numbers is:", sum_natural)

Enter a positive integer n: 5
Sum of first 5 natural numbers is: 15

In [12]:
# Input the number and shift value
num = int(input("Enter a number: "))
shift = int(input("Enter number of bits to shift: "))

# Left shift (<<)
left_shift = num << shift

# Right shift (>>)
right_shift = num >> shift

# Print results
print("Left shift of", num, "by", shift, "bits is:", left_shift)
print("Right shift of", num, "by", shift, "bits is:", right_shift)

Enter a number: 4
Enter number of bits to shift: 6
Left shift of 4 by 6 bits is: 256
Right shift of 4 by 6 bits is: 0

In [13]:
# Define the sequence
sequence = (10, 20, 56, 78, 89)

# Input a number
num = int(input("Enter a number to check: "))

# Check membership
if num in sequence:
    print(num, "is present in the sequence.")
else:
    print(num, "is NOT present in the sequence.")

Enter a number to check: 2
2 is NOT present in the sequence.